*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#employee_list{
    text-align: center;
    vertical-align: middle;
}
.employee_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: contain;
}
.employee_edit_img{
    width: 400px;
    height: 400px;
}
.employe_edit_img_container{
    text-align: center;
}
.employe_edit_img_container img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.photo_preview_box{
    text-align: center;
}
.photo_preview_box img{
    width: 500px;
    height: 400px;
}